html, body {
    background-color: #eee;
    height: 100%;
}

.vertical-center {
    display: none;
}
#dead-row div.row {
    padding-bottom: 5px;
    padding-top: 5px;
}
#dead-row div.row:last-child {
    border-bottom: none;
}
.pasto {
    font-weight: bold;
}
.pasto span {
    margin-left: 5px;
    font-weight: normal;
    font-style: italic;
}
#spinner {
    display: none;
    margin-left: 10px;
    margin-top: 10px;
    width: 15px;
    height: 15px;
    -webkit-animation: sweep 1s infinite linear;
    border-radius: 7px;
    border-bottom: 3px solid grey;
}

@-webkit-keyframes sweep {
    to {
        -webkit-transform: rotate(360deg);
    }
}

#dead-row {
    margin-top: 15px;
}

.form-control {
    height: auto;

}
.typeahead,
.tt-query,
.tt-hint {
    font-size: 22px;
}
input.typeahead {
    line-height: normal;
}
span.twitter-typeahead .tt-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 20px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

span.twitter-typeahead .tt-suggestion > p {
    display: block;
    padding: 3px 20px;
    margin-bottom: 0px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

span.twitter-typeahead .tt-suggestion > p:hover,
span.twitter-typeahead .tt-suggestion > p:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}

span.twitter-typeahead .tt-suggestion.tt-cursor {
    color: #ffffff;
    background-color: #428bca;
}

span.twitter-typeahead {
    width: 100%;
}

.input-group span.twitter-typeahead {
    display: block !important;
}

.input-group span.twitter-typeahead .tt-dropdown-menu {
    top: 32px !important;
}

.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
    top: 44px !important;
}

.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
    top: 28px !important;
}
